# NOLoader

*.swp
bin/
obj/
.vs/
*.user
*.suo
artifacts/
**/x64/
*.pdb
*.obj
*.iobj
*.ipdb
*.tlog/
*.lastbuildstate
*.recipe
libs/
Directory.Build.props
Directory.Build.user.props
.cursorrules
.cursor/
ffmpeg.exe
local_build_scripts/
_buildroot/
.debug/
